<div class="container">
  <div class="form-questions form">
    <%= simple_form_for @job do |f| %>
    <%= f.input :title %>
    <%= f.input :company %>
    <%= f.input :salary %>
    <%= f.input :desire %>
    <%= f.input :progress, collection: ["Thinking about applying", "Applied", "Sent follow-up email", "Heard nothing? Reach out on LinkedIn", "Got an interview", "Followed up after interview", "Got a job offer!"] %>
    <%= f.input :date_applied %>
    <%= f.input :person_of_contact %>
    <%= f.input :link_to_job %>
    <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>
