<div class="container">
  <h1 class="text-center">Job Tracker <i class="fas fa-binoculars"></i></h1>
  <%= link_to new_job_path do %>
    <i class="fas fa-plus"></i>
  <% end %>

  <% if @jobs.count > 0 %>
    <% @jobs.each do |job| %>
      <div class="job-row">
        <div class="job-card">
          <div class="card-title">
            <h3><%= job.company %></h3>
            <div>
              <%= link_to edit_job_path(job) do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= link_to job_path(job), :method => :delete  do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
          <p><%= job.title %> | <%= job.salary ? job.salary : "unknown salary" %> </p>
        </div>
        <div class="progress-bar-container">
          <div class="line">
            <div class="circles-container">
              <!-- first circle -->
              <div class="green"></div>
              <!-- second circle -->
              <% if job.progress == 'Thinking about applying' %>
                <div class="yellow"></div>
              <% elsif job.progress != 'Thinking about applying' %>
                <div class="green"></div>
              <% end %>
              <!-- third circle -->
              <% if job.progress == 'Thinking about applying' %>
                <div class="gray"></div>
              <% elsif job.progress == 'Applied' %>
                <div class="yellow"></div>
              <% else %>
                <div class="green"></div>
              <% end  %>
              <!-- fourth circle -->
              <% if job.progress == 'Thinking about applying' || 'Applied' %>
                <div class="gray"></div>
              <% elsif job.progress == 'Sent follow-up email' %>
                <div class="yellow"></div>
              <% else %>
                <div class="green"></div>
              <% end  %>


              <div class="gray"></div>
              <div class="gray"></div>
              <div class="gray"></div>
              <div class="gray"></div>
              <div class="gray"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
