<div class="container">
  <h1>Hello World</h1>
  <%= link_to new_job_path do %>
    <i class="fas fa-plus"></i>
  <% end %>

  <% if @jobs.count > 0 %>
    <% @jobs.each do |job| %>
    <h3><%= job.title %> </h3>
    <p><%= job.company %></p>
    <p><%= job.salary %></p>
      <%= link_to job_path(job), :method => :delete  do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      <%= link_to edit_job_path(job) do %>
        <i class="fas fa-pen"></i>
      <% end %>
    <% end %>
  <% end %>


</div>
